:root{
    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
    --clr-primary-200: #f3eed9;
   
    --clr-neutral-100: #FFF;
    --clr-neutral-700-: #329A55;
}
*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

*,
*::before,
*::after{
    box-sizing:border-box;

}
body{
    background-color: #dbc9a3;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6;
}
p{
  font-family: var(--ff-accent);
  margin-bottom: 1em;
  /*text-align: center;*/
  text-align: left;
    padding: 0 5px;
    margin: 10px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
h2{
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
    margin-bottom: 1em;
    text-align: center;
}

.text-center{
    text-align: center;
}

.bg-accent{
    background-color: var(--clr-neutral-700-);
}

.bg-accent h2{
    color:var(--clr-primary-200);
}

section{
    padding: 3rem 0;
}

.container {
    width: 200;
    padding-left:5%;
    padding-right:5%;
    box-sizing:border-box;
}

.split{
    display: flex;
}
.dropdown {
    position: relative;
    display: inline-block;}
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 15px;
    min-width: 150px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    z-index: 1;}
    
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;}
    
    .dropdown-content a:hover {background-color: #329A55;}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    li, ul {
      list-style-type: none;
      padding: 0;
    }
.navbar{
    width: 100%;
    display: flex;
    align-items: center;

}
  .logo{
    width: 300px;
    cursor: pointer;
    margin: 30px 0;
}

.menu-icon{
    width: 50px;
    cursor: pointer;
}


nav{
    flex: 1;
    text-align:right;  
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
nav ul li a:hover{
    color: #329A55;
}

.container2 {
    margin-inline: auto;
    width: min(99%);
    background-color:#329A55;
    padding-left: 10px;
    padding-right: 5px;
    
}

figure{
font-size: 10px;
}

img.scaled{
    width:100%;
}
